{% extends "base.html" %}
{% load static %}
{% block title %}
DeladoInc | About
{% endblock %}
{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <p>Delado<span>inc</span></p>
            <h2>About Us</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">

                    <!-- Single Post Start -->
                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Post Title -->
                            <a href="#" class="post-title">Touching heaven on frequency!!!</a>
                            
                            <!-- Post Excerpt -->
                            <p>Delado Inc Studio is build to give singers, rappers, film makers access to best sounding studio at a praction of the price of super studio.</p>
                            <p>Our studios are equipped with the most up-to-date equipment and hight class enginears. </p>
                            <p></p>
                        </div>
                    </div>

                    

                    

                </div>

                
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    {% endblock %}