{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
DeladoInc | Booking
{% endblock %}
{% block content %}


    <!-- ##### Breadcumb Area Start ##### -->

    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        
        <div class="bradcumbContent">
            <p>DeladoInc</p>
            <h2>Bookings</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
<section class="contact-area section-padding-0-100">
        <div class="container">
        </br></br>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post" id="bookingForm" method="post">

                            
                                <div class="col-12 text-center">
                                    <div class="form-group" cols="30" rows="10">
                                        {% csrf_token %}
                                        {{ booking_form|crispy }}
                                        
                                        
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </section>
   {% endblock %}